@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F7FAF8;
    color: #1C1C1E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Print CSS Helpers */
@media print {
  .print-hide {
    display: none !important;
  }
  main {
    margin-left: 0 !important;
    padding: 0 !important;
  }
}
